.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  background-color: #000;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

.container{
  margin-top: 20vh;
  text-align: center;
}

.top {
  margin-top: 0;
}


.grid-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.board{
  background-color:#fff;
  width: 50%;
  margin: 10%, 0, 0 ,0;
  position: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-row {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input{
  margin-bottom: 3%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scoreBoard{
  margin-top: 3%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center ;
  text-align: center;
}

.score {
  margin-bottom: 3%;
  background-color: #fff;
  border-bottom: 3px solid black;
  border-radius: 5%;
  text-align: center;
}

.field {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 2%;
  color: #202124;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}

.x {
  margin-right: 2%;
}

.o {
  margin-left: 2%;
}


.heading {
  color: #fff;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 200%;
}

.heading-welcome {
  color: #000;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 500%;
}

.sub-heading{
  color: #202124;
  opacity: 100%;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 100%;
}

.p {
  color: #555;
  opacity: 100%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 75%;
}

.text {
  color: #000;
}

.button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.grid-button {
  padding: 15px 24px;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;

}

.go {
  padding: 15px 15px;
  border: 2px solid #000;
  border-radius: 5%;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 100%;
}

.reset {
  padding: 7px 21px;
  border: 2px solid #000;
  border-radius: 5%;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50%;
}

.square {
  padding: 25px;
  border: 2px solid #000;
  margin: 1px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 100%;
}

.button {
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #000;
  color: white;
}
